.main_container {
    margin-top: 10vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #792749bd;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}